<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IampRemote" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:11316/ampRemote" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IampRemote" contract="ampService.IampRemote" name="BasicHttpBinding_IampRemote" />
    </client>
  </system.serviceModel>
</configuration>